.dashboard_page {
  display: grid;
  grid-template-columns: 20vw 80vw;
}

.dashboard_page_left {
  background-color: #f4f9ff;
  height: 140vh;
  
}

.dashboard_page_left_profile {
  margin-top: 3vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
.avatar_circle {
  width: 140px;
  height: 140px;
  border: 2px solid #56548c;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar_circle img {
  width: 130px;
}

.dashboard_page_left_profile button {
  padding: 15px 10px;
  border-radius: 50px;
  background-color: #56548c1a;
  box-shadow: 0px 20px 100px 0px #5555550d;

  color: #56548c;
  border: none;
}
.nav {
  margin-top: 50px;
}
.nav_item {
  color: #8597a8;
  font-size: 17px;
  font-weight: 500;
}
.nav ul {
  list-style-type: none;
  user-select: none;
}
.nav_item_li {
  padding: 10px 0 10px 30px;
  cursor: pointer;
}
.nav_item_li:hover {
  color: #56548c;
}
.nav_item .active {
  border-right: 5px solid #56548c;
  border-radius: 5px;
  color: #56548c;
}
.dashboard_dropdown {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.dashboard_dropdown.show {
  max-height: 220px;
}
.dashboard_dropdown.hide {
  max-height: 0;
}
.nav_item_li_div{
  display: flex;
  align-items: center;
}
.nav_item_li_div>img{
  scale: .7;
  margin-right: 8px;
}
.dashboard_dropdown_ul > li {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 0 5px 60px;

}

.dashboard_dropdown_ul > li:hover {
  color: #56548c;
}

.dashboard_page_right_top {
  display: flex;
  justify-content: space-between;
  padding: 15px 35px;
}

.dashboard_page_right_top > div {
  display: flex;
  gap: 20px;
}
.dashboard_page_right_top input {
  width: 40vw;
  border-radius: 15px;
  background-color: #55555514;
  border: none;
  height: 35px !important;
}
.logout_div {
    display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  color:#D36363;
  font-weight: 500;
  cursor: pointer;
}
.logout_div:hover{
  font-weight: 700;
}
.logout_div>img{
    scale: .7;
  margin-right: 8px;
}